<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.curiositydaily">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.curiositydaily.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RecommodContentActivity"></activity>
        <!-- 主活动 -->
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册活动 -->
        <activity android:name=".view.UserRegisterActivity"></activity>

        <!-- 设计内容 -->
        <activity android:name=".view.DesignContentActivity"></activity>

        <activity android:name=".view.ImageGridActivity"></activity>
        <activity android:name=".view.TestPicActivity" />
        <activity android:name=".view.PhotoActivity" />
        <activity android:name=".view.PublishActivity" />
        <activity android:name=".view.AttentionContentActivity" />
        <activity android:name=".view.HomeSearchActivity" />
        <activity android:name=".view.RecommodContentActivity"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>